<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate @users, :inner_window => 1, :outer_window => 0 %>

<ul class="users">
	<%= render @users %>
</ul>

<%= will_paginate @users, :inner_window => 1, :outer_window => 0 %>